Import library

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

Load data dengan encoding latin1

In [2]:
data = pd.read_csv('data.csv', encoding='latin1')

Melihat 5 baris pertama pada data

In [3]:
print(data.head())

  InvoiceNo StockCode                          Description  Quantity  \
0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1    536365     71053                  WHITE METAL LANTERN         6
2    536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6

      InvoiceDate  UnitPrice  CustomerID         Country
0  12/1/2010 8:26       2.55     17850.0  United Kingdom
1  12/1/2010 8:26       3.39     17850.0  United Kingdom
2  12/1/2010 8:26       2.75     17850.0  United Kingdom
3  12/1/2010 8:26       3.39     17850.0  United Kingdom
4  12/1/2010 8:26       3.39     17850.0  United Kingdom

Melihat ringkasan data

In [4]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB
None

Mengecek Missing Value

In [5]:
print(data.isnull().sum())

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

Menampilkan baris yang memiliki missing value

In [6]:
missing_data = data[data.isnull().any(axis=1)]
print(missing_data.head())

     InvoiceNo StockCode                      Description  Quantity  \
622     536414     22139                              NaN        56
1443    536544     21773  DECORATIVE ROSE BATHROOM BOTTLE         1
1444    536544     21774  DECORATIVE CATS BATHROOM BOTTLE         2
1445    536544     21786               POLKADOT RAIN HAT          4
1446    536544     21787            RAIN PONCHO RETROSPOT         2

          InvoiceDate  UnitPrice  CustomerID         Country
622   12/1/2010 11:52       0.00         NaN  United Kingdom
1443  12/1/2010 14:32       2.51         NaN  United Kingdom
1444  12/1/2010 14:32       2.51         NaN  United Kingdom
1445  12/1/2010 14:32       0.85         NaN  United Kingdom
1446  12/1/2010 14:32       1.66         NaN  United Kingdom

Mengecek nilai duplikat

In [7]:
duplikat = data.duplicated().sum()
print(f'Jumlah duplikat :{duplikat}')

# menampilkan baris duplikat (jika ada)
if(duplikat > 0):
    print(data[data.duplicated()].head())

Jumlah duplikat :5268
    InvoiceNo StockCode                        Description  Quantity  \
517    536409     21866        UNION JACK FLAG LUGGAGE TAG         1
527    536409     22866      HAND WARMER SCOTTY DOG DESIGN         1
537    536409     22900    SET 2 TEA TOWELS I LOVE LONDON          1
539    536409     22111       SCOTTIE DOG HOT WATER BOTTLE         1
555    536412     22327  ROUND SNACK BOXES SET OF 4 SKULLS         1

         InvoiceDate  UnitPrice  CustomerID         Country
517  12/1/2010 11:45       1.25     17908.0  United Kingdom
527  12/1/2010 11:45       2.10     17908.0  United Kingdom
537  12/1/2010 11:45       2.95     17908.0  United Kingdom
539  12/1/2010 11:45       4.95     17908.0  United Kingdom
555  12/1/2010 11:49       2.95     17920.0  United Kingdom

Mengecek nilai negatif

In [10]:
# mengecek quantitiy negatif value
quantity_negative = data[data['Quantity'] < 0]
print(f'Jumlah transaksi dengan quantity negatif : {quantity_negative}')
print(quantity_negative.head())

# mengecek unit price negatif atau nol
unitprice_salah = data[data['UnitPrice'] <= 0]
print(f'Jumlah transaksi dengan unit price <= 0 : {unitprice_salah}')
print(unitprice_salah.head())

Jumlah transaksi dengan quantity negatif :        InvoiceNo StockCode                       Description  Quantity  \
141      C536379         D                          Discount        -1
154      C536383    35004C   SET OF 3 COLOURED  FLYING DUCKS        -1
235      C536391     22556    PLASTERS IN TIN CIRCUS PARADE        -12
236      C536391     21984  PACK OF 12 PINK PAISLEY TISSUES        -24
237      C536391     21983  PACK OF 12 BLUE PAISLEY TISSUES        -24
...          ...       ...                               ...       ...
540449   C581490     23144   ZINC T-LIGHT HOLDER STARS SMALL       -11
541541   C581499         M                            Manual        -1
541715   C581568     21258        VICTORIAN SEWING BOX LARGE        -5
541716   C581569     84978  HANGING HEART JAR T-LIGHT HOLDER        -1
541717   C581569     20979     36 PENCILS TUBE RED RETROSPOT        -5

            InvoiceDate  UnitPrice  CustomerID         Country
141      12/1/2010 9:41      27.50     14527.0  United Kingdom
154      12/1/2010 9:49       4.65     15311.0  United Kingdom
235     12/1/2010 10:24       1.65     17548.0  United Kingdom
236     12/1/2010 10:24       0.29     17548.0  United Kingdom
237     12/1/2010 10:24       0.29     17548.0  United Kingdom
...                 ...        ...         ...             ...
540449   12/9/2011 9:57       0.83     14397.0  United Kingdom
541541  12/9/2011 10:28     224.69     15498.0  United Kingdom
541715  12/9/2011 11:57      10.95     15311.0  United Kingdom
541716  12/9/2011 11:58       1.25     17315.0  United Kingdom
541717  12/9/2011 11:58       1.25     17315.0  United Kingdom

[10624 rows x 8 columns]
    InvoiceNo StockCode                       Description  Quantity  \
141   C536379         D                          Discount        -1
154   C536383    35004C   SET OF 3 COLOURED  FLYING DUCKS        -1
235   C536391     22556    PLASTERS IN TIN CIRCUS PARADE        -12
236   C536391     21984  PACK OF 12 PINK PAISLEY TISSUES        -24
237   C536391     21983  PACK OF 12 BLUE PAISLEY TISSUES        -24

         InvoiceDate  UnitPrice  CustomerID         Country
141   12/1/2010 9:41      27.50     14527.0  United Kingdom
154   12/1/2010 9:49       4.65     15311.0  United Kingdom
235  12/1/2010 10:24       1.65     17548.0  United Kingdom
236  12/1/2010 10:24       0.29     17548.0  United Kingdom
237  12/1/2010 10:24       0.29     17548.0  United Kingdom
Jumlah transaksi dengan unit price <= 0 :        InvoiceNo StockCode                   Description  Quantity  \
622       536414     22139                           NaN        56
1970      536545     21134                           NaN         1
1971      536546     22145                           NaN         1
1972      536547     37509                           NaN         1
1987      536549    85226A                           NaN         1
...          ...       ...                           ...       ...
536981    581234     72817                           NaN        27
538504    581406    46000M  POLYESTER FILLER PAD 45x45cm       240
538505    581406    46000S  POLYESTER FILLER PAD 40x40cm       300
538554    581408     85175                           NaN        20
538919    581422     23169                       smashed      -235

            InvoiceDate  UnitPrice  CustomerID         Country
622     12/1/2010 11:52        0.0         NaN  United Kingdom
1970    12/1/2010 14:32        0.0         NaN  United Kingdom
1971    12/1/2010 14:33        0.0         NaN  United Kingdom
1972    12/1/2010 14:33        0.0         NaN  United Kingdom
1987    12/1/2010 14:34        0.0         NaN  United Kingdom
...                 ...        ...         ...             ...
536981  12/8/2011 10:33        0.0         NaN  United Kingdom
538504  12/8/2011 13:58        0.0         NaN  United Kingdom
538505  12/8/2011 13:58        0.0         NaN  United Kingdom
538554  12/8/2011 14:06        0.0         NaN  United Kingdom
538919  12/8/2011 15:24        0.0         NaN  United Kingdom

[2517 rows x 8 columns]
     InvoiceNo StockCode Description  Quantity      InvoiceDate  UnitPrice  \
622     536414     22139         NaN        56  12/1/2010 11:52        0.0
1970    536545     21134         NaN         1  12/1/2010 14:32        0.0
1971    536546     22145         NaN         1  12/1/2010 14:33        0.0
1972    536547     37509         NaN         1  12/1/2010 14:33        0.0
1987    536549    85226A         NaN         1  12/1/2010 14:34        0.0

      CustomerID         Country
622          NaN  United Kingdom
1970         NaN  United Kingdom
1971         NaN  United Kingdom
1972         NaN  United Kingdom
1987         NaN  United Kingdom

Cek inkonsistensi data

In [ ]:
# mengecek apakah ada transaksi yang Quantity > 0 tetapi deskripsi kosong
deskripsi_kosong = data[(data['Description'].isnull()) & (data['Quantity']>0)]
print(f'Jumlah transaksi dengan Deskripsi kosong tetapi Quantity > 0 :{deskripsi_kosong}')
print(deskripsi_kosong.head())